name: ci

on:
  push:
    branches:
      - "feature/**"
  pull_request:
    branches:
      - main

env:
  GITOPS_REPO: ${{ github.repository_owner }}/axinova-deploy

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v6
        with:
          go-version-file: go.mod
          cache: true
      - name: Test
        run: go test ./...
